In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("data/WeatherPy_vacation.csv")
city_data_df.head()

,hotel,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Luwuk,ID,83.66,overcast clouds,-0.95,122.79,Hotel Santika Luwuk
1,20,Shieli,KZ,76.33,clear sky,44.17,66.75,Gostinitsa Aybek Shieli
2,21,Kahului,US,91.40,scattered clouds,20.89,-156.47,Maui Seaside Hotel
3,22,Hue,VN,84.20,scattered clouds,16.47,107.60,Saigon Morin Hotel
4,23,Port Blair,IN,82.47,broken clouds,11.67,92.75,Fortune Resort Bay Island

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
#Create Dataframe for four cities
Washington_df=city_data_df.loc[city_data_df["City"]=="Washington"]
Portland_df=city_data_df.loc[city_data_df["City"]=="Portland"]
Austin_df=city_data_df.loc[city_data_df["City"]=="Austin"]
Mayo_df=city_data_df.loc[city_data_df["City"]=="Mayo"]

In [5]:
#Get the lat and lng of the four cities
Washington= list(Washington_df[["Lat", "Lng"]].itertuples(index=False, name=None))
Portland = list(Portland_df[["Lat", "Lng"]].itertuples(index=False, name=None))
Austin = list(Austin_df[["Lat", "Lng"]].itertuples(index=False, name=None))
Mayo = list(Mayo_df[["Lat", "Lng"]].itertuples(index=False, name=None))

In [6]:
# Iterate through the DataFrame.
fig = gmaps.figure()
Washington2Mayo = gmaps.directions_layer(Washington[0], Mayo[0], waypoints=[Portland[0], Austin[0]], travel_mode="DRIVING")
fig.add_layer(Washington2Mayo)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Combine four cities dataframe
four_cities=pd.concat([Washington_df, Portland_df, Austin_df, Mayo_df])
four_cities

,hotel,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
69,213,Washington,US,87.01,clear sky,47.50,-120.50,"Cashmere Cider Mill Guest Suites, Weddings & T..."
7,36,Portland,US,84.00,few clouds,45.52,-122.68,Portland Marriott City Center
97,290,Austin,US,93.20,few clouds,30.27,-97.74,The Driskill - In the Unbound Collection by Hyatt
33,105,Mayo,US,82.40,clear sky,38.89,-76.51,Resorts Resource Group International

In [12]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""    
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in four_cities.iterrows()]

In [15]:
# Add a heatmap of temperature for the vacation spots.
locations = four_cities[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))